<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<%= stylesheet_link_tag 'style' %>
	<meta charset="UTF-8">
	<title>Mwasibale Motors</title>
	<style>
	   #main{
		text-align: left;
		font-family: Arial,Helvetica,sans-serif;
		color: white;
		top: 0px;
		left: 20%;
      }
	  .call{
		color:white;
		font-size: 15px;
	  }
	  a {
		height:500;
	  }
	  input{
		padding: 2px 2px 2px 2px;
		margin: 2%;
	  }
	</style>
</head>
<body>
	<div id="header">
	    
		<div class="wrapper clearfix">
		   <div id="main"><h2>Mwasibale Motors</h2></div>
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="LOGO"></a>
			</div>
		  
			<ul id="navigation">
				<li class="selected">
					<a href="/authentication">Home</a>
				</li>
				<li>
					<a href="/authentication/about">About</a>
				</li>
				<li>
					<a href="/authentication/blog">Blog</a>
				</li>
				<li>
					<a href="/authentication/gallery">Gallery</a>
				</li>
				<li>
					<a href="/authentication/contact">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
					<h1>The caring car owner's choice</h1>
					<p>
						We offer most affordable prices while maintaing the best standards for you our beloved customers.
						Take a tour of our services and have the appreciation of the work of hand being done by our personnel.
					</p>
				</div>
			</div>
			<div class="highlight">
				<h2>Mode your property - <i>Choose Mwasibale Motors</i></h2>
			</div>
		</div>
		<div class="body clearfix">
			<div class="click-here">
				<h1>Promotion offers!</h1>
				<a href="/authentication" class="btn2">Click Here!</a>
			</div>
			<p style="font-size:12px;">
				Uncertainities do occur.....
				Worry not, we are always there for you to offer that help during your moment of need.
				Just call one of our hot-lines below and we will be avalable to haul or offer any other service:
				<br>
			</p>
			<div id="newsletter" class="call">
				<form>
				  <input type="submit" value="0999999999" name="airtel">
				  <input type="submit" value="0888888888" name="tnm">
				  <input type="submit" value="0111111111" name="mtl">
				  <input type="submit" value="0222222222" name="access">
				</form>
			</div>
			<div class="call">
			You may also log your issues <a href ="#">here</a>
			</div>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<img src="images/astronaut.jpg" alt="Img" height="204" width="220">
				<h3><a href="/authentication/index/blog.html">Panel Beating</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
				</p>
			</li>
			<li>
				<img src="images/earth.jpg" alt="Img" height="204" width="220">
				<h3><a href="/authentication/index/blog.html">Tyre Alignment</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
				</p>
			</li>
			<li>
				<img src="images/spacecraft-small.jpg" alt="Img" height="204" width="220">
				<h3><a href="/authentication/index/blog.html">Auto-electric Mechanic</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
				</p>
			</li>
			<li>
				<img src="images/space-shuttle.jpg" alt="Img" height="204" width="220">
				<h3><a href="/authentication/index/blog.html">Other</a></h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper vehicula.
				</p>
			</li>
		</ul>
		<div class="body">
			<div class="wrapper clearfix">
				<div id="links">
					<div>
						<h4>Social</h4>
						<ul>
							<li>
								<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank">Add Google + circles</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank">Like us on Facebook</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Find us on Youtube</a>
							</li>
							<li>
								<a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Follow us on Twitter</a>
							</li>
						</ul>
					</div>
					<div>
						<h4>Heading placeholder</h4>
						<ul>
							<li>
								<a href="/authentication/index/index.html">Link Title 1</a>
							</li>
							<li>
								<a href="/authentication/index/index.html">Link Title 2</a>
							</li>
							<li>
								<a href="/authentication/index/index.html">Link Title 3</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="newsletter">
					<h4>Issues</h4>
					<p>
						Sign in to log your issues
					</p>
					<form action="/authentication" method="post">
						<input type="text" value="">
						<input type="submit" value="Sign In!">
					</form>
				</div>
				<p class="footnote">
					© Copyright © <%= Date.today.year %>.	Mwasibale Motors. All rights reserved
				</p>
			</div>
		</div>
	</div>
</body>
</html>
